extends ../layout.jade
block contenido
    div(class="col-md-6 remove-float center-block big-top-space")
        h1 Editar Jugador #{jugador.nombre}
        form(action="/api/jugadores/#{jugador._id}", method="POST")
            <input type="hidden" name="_method" value="put"/>
            div(class="form-group")
            div
                label(for="nombre")  Nombre
                input(type="text",name="nombre", id="nombre",value="#{jugador.nombre}",class="form-control")
            div
                label(for="apellido")  Apellido
                input(type="text",name="apellido", id="apellido",value="#{jugador.apellido}",class="form-control")
            div
                label(for="email")  Email
                input(type="text",name="email", id="email",value="#{jugador.email}",class="form-control")
            div
                label(for="edad")  Edad
                input(type="text",name="edad", id="edad",value="#{jugador.edad}",class="form-control")
            div
                label(for="handicap")  Handicap
                input(type="text",name="handicap", id="handicap",value="#{jugador.handicap}",class="form-control")
            div
                p
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit",value="Editar jugador",class="btn btn-info")